@page "/Login"

@model Todo.Web.Client.Server.Components.Pages.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Log In</title>
</head>
<body>
<div>
    <h1>Log In</h1>
</div>
</body>
</html>